<launch>

  <arg name="image_file" value="$(find sand_classifier)/tests/data/sample.jpg"/>
  <arg name="calib_file" value="$(find sand_classifier)/tests/data/camera.yaml"/>

  <!-- Start pipeline -->
  <include file="$(find spoc_lite)/launch/spoc_lite.launch">
    <arg name="camera" value="camera"/>
    <arg name="image" value="image_rect"/>
  </include>

  <!-- Publish sample image -->
  <node pkg="image_publisher"
        type="image_publisher"
        name="camera"
        args="$(arg image_file)">
    <remap from="~image_raw" to="/camera/image_rect"/>
    <param name="camera_info_url" value="file://$(arg calib_file)"/>
    <param name="frame_id" value="camera_frame"/>
  </node>

  <!-- Visualize images -->
  <node pkg="image_view"
        type="image_view"
        name="image_view_original">
    <remap from="image" to="/camera/image_rect"/>
  </node>

  <node pkg="image_view"
        type="image_view"
        name="image_view_classified">
    <remap from="image" to="/camera/image_overlay"/>
  </node>

</launch>
